body, html {
	margin: 0 auto;
	width: 95%;
	max-width: 800px;
}
label {
	display: block;
}
table {
	border-collapse: collapse;
	width: 100%;
}
td, th {
	padding: 8px;
}
table thead tr {
	background-color: #000;
	color: #fff;
	font-weight: bold;
	border-bottom: 3px solid #dc2d27;
}
table tbody td {
	border: 1px solid #999999;
}
